.showbtn {
  color: black;
  /* background-color: black !important; */
}

.hidebtn {
  color: #bbbaba;
}

.post_title {
    margin-bottom: 0.25rem;
}

.relative_time {
  color: silver;
  margin-top: -12px;
  display: inline-block;
}
